body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(223, 223, 99);
    margin: 0;
    padding: 0;
    text-align: center;
}

.rectangulo{
    position: relative;
    margin: 4vw auto; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    padding: 20px;
    width: 400px;
    
}
.barra{
    position: relative;
    margin: 4vw auto; 
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    
    padding: 20px;
    width: 400px;
}